<!DOCTYPE html>
<html lang="en" ng-app="RateApp">
	<head>
		<meta charset="UTF-8">
		<title>Flowers R' Us</title>

		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">

		<script src="/bower_components/jquery/dist/jquery.js"></script>
		<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="/bower_components/angular/angular.js"></script>

		<script src="/index.js"></script>
		<script src="/rate.js"></script>
	
	</head>
	<body ng-controller="RateCtrl as rateCtrl">

		<div class="container">

			<h2>Rates</h2>

			<label for="base">Base</label>
			<input type="text" name="base" ng-model="rateCtrl.base">

			<label for="symbols">Currency</label>
			<input type="text" name="symbols" ng-model="rateCtrl.symbols">

			
			<button type="button" ng-click="rateCtrl.getRate()">Get Rates	</button>

			<hr>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Rates</td>
                    </tr>    
                </thead>
                <tbody >
                    <tr ng-repeat="(l,v) in rateCtrl.rates track by $index">
						<td>
							{{l}} {{v}}
						</td>
					</tr>
                </tbody>
            </table>

		</div>
		
	</body>
</html>
